body{
 background-color: tan;
}

header{
  text-align: center;
}

options{
  display: flex;
  justify-content: space-between;
}

ul{
  text-align: center;
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 20px;
}
aside{
  text-align: right;
  font-family: sans-serif;
}
article{
  font-family: sans-serif;
}
articleTitle{
  text-align: center;
  font-family: sans-serif;
}